@import './dopScss/min.scss';
@import './dopScss/mixins.scss';
@import './dopScss/variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $whi;
}

.main {
  .header {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 80px;
    background-color: $bl;
    display: grid;
    padding: 5px 220px;
    grid-template-columns: 82px 1fr auto;
    align-items: center;

    &__logo {}

    &__menu {
      padding-left: 63px;

      .header-list {
        display: flex;

        &__item {
          margin-right: 60px;
        }

        &__link {
          color: $whi;

          &:hover {
            @include linear;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }

    &__copy {
      justify-self: flex-end;
      @include robertoFont(16px, 500, 140%)
    }
  }

  .slider {
    position: relative;

    &__title {
      position: absolute;
      top: 166px;
      left: 880px;
      text-align: center;

      &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: -74px;
        left: -88px;
        height: 465px;
        width: 465px;
        border-radius: 50%;
        @include linear;
      }
    }

    &__title-line {
      @include robertoFont(106.496px, 700, 75%);

      &_yellow {
        color: $ye;
      }
    }

    &__button {
      color: $whi;
      margin-top: 64px;
      width: 298px;
      height: 54px;
      @include linear;
      border-radius: 25px;
    }

    &__image {
      z-index: -5;
      position: relative;
      top: 0;
      width: 100%;
    }
  }

  .content {
    position: relative;
    padding: 140px 220px 100px 220px;

    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

    &__title {
      @include robertoFont(36px, 400, 130%);
      margin-bottom: 10px;
    }

    &__text {
      @include robertoFont(16px, 500, 140%);
    }

    &__information {
      margin: 60px 0;
      color: $mye;
      @include robertoFont(36px, 400, 130%);
    }

    &__pick-feed {}

    .pick-feed {
      padding: 40px;
      background: rgba(255, 255, 255, 0.52);

      &__title {
        text-align: center;
        color: $mye;
        @include robertoFont(48px, 400, 120%);
      }

      &__info {
        color: $gr;
        @include robertoFont(24px, 400, 120%);
        margin-bottom: 30px;
      }

      &__body {
        margin-bottom: 30px;
        position: relative;
        padding-top: 18px;
        background-color: rgba(64, 73, 80, 1);
        display: grid;
        grid-template-columns: repeat(8, auto);
      }

      &__item {
        position: relative;
        display: grid;
      }

      &__span {
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 50%;
        width: 100%;
        height: 2px;
        background-color: rgba(114, 130, 142, 1);

        &_end {
          left: 0;
          width: 50%;
        }
      }

      &__input {
        z-index: 2;
        position: relative;


      }

      &__label {
        justify-self: center;
      }
    }
  }



  .footer {
    position: relative;
    z-index: 1;
    background-color: $bl;
    padding: 0 220px;

    &__body {
      .footer-top {
        display: grid;
        grid-template-columns: auto 1fr;

        &__logo {
          margin-top: 40px;
          margin-bottom: 66px;
        }

        &_logo-img {}

        &__subscribe {
          justify-self: end;
          align-self: flex-start;
          display: grid;
          grid-template-columns: auto auto;
        }

        &__title {
          margin-top: 40px;
          margin-bottom: 13px;
          grid-column: 1 / 3;
          color: $whi;
          @include robertoFont(24px, 400, 28.8px);
        }

        &__input {
          display: block;
          position: relative;
          color: $whi;
          padding: 10px 7px 10px 10px;
          @include robertoFont(16px, 400, 22.4px);
          border: 1px solid rgba(249, 128, 75, 1);
          background-color: $bl;
          border-radius: 2px;
        }

        &__button {
          margin-left: 10px;
          padding: 10px 39px;
          border: 1px solid #4B9200;
          border-radius: 5px;
          @include robertoFont(16px, 400, 22.4px);
          color: rgba(75, 146, 0, 1);
          background-color: rgba(241, 243, 242, 1);
        }
      }

      .footer-middle {
        &__button {
          @include linear;
          justify-self: center;
          width: 298px;
          height: 54px;
          margin-bottom: 40px;

          color: $whi;
          @include robertoFont(16px, 500, 140%);
        }
      }

      .footer-bottom {
        margin-bottom: 45px;
        display: grid;
        grid-template-columns: auto 790px auto;

        &__links {}

        &__item {
          display: grid;
          grid-template-columns: auto 1fr;
          margin-bottom: 10px;
        }

        &__link {
          margin-left: 12px;
          align-self: center;
          color: $whi;
          @include robertoFont(16px, 400, 22.4px);
        }

        &__link-image {
          background-color: rgba(196, 196, 196, 0.5);
          width: 26px;
          height: 26px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__link-img {}

        &__menu {
          justify-self: center;
          align-self: flex-end;
          margin-bottom: 10px;

          display: grid;
          gap: 58px;
          grid-template-columns: auto auto auto auto;
        }

        &__menu-item {
          @include robertoFont(16px, 400, 22.4px);
        }

        &__menu-link {
          color: $whi;


          font-weight: 400;
          font-size: 16px;
          line-height: 140%;

          &:hover {
            @include linear;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }

        &__copy {
          justify-self: end;
          align-self: flex-end;
          margin-bottom: 10px;
        }

        &__copy-item {
          @include robertoFont(16px, 100, 20.8px);
        }
      }
    }
  }
}