@import './dopScss/min.scss';
@import './dopScss/mixins.scss';
@import './dopScss/variables.scss';

.testtest {
  color: black;
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $whi;

  overflow-y: auto;
  overflow-x: hidden;
}

.body_not-scroll {
  overflow: hidden;
}

.main {
  width: 100vw;

  .header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: $hhbig;
    background-color: $bl;
    display: grid;
    padding: 0px 220px;
    grid-template-columns: 82px 1fr auto;
    align-items: center;

    &__logo {
      position: relative;
      height: $hhbig;

      & img {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__menu {
      display: grid;
      justify-items: center;

      .header-list {
        display: flex;

        &__item {
          margin-right: 4vw;
        }

        &__link {
          color: $whi;

          &:hover {
            @include linearColor
          }
        }
      }
    }

    &__copy {
      display: block;
      color: $whi;
      justify-self: flex-end;
      @include robertoFont(16px, 500, 140%);

      &:hover {
        @include linearColor;
        cursor: pointer;
      }
    }

    &__button {
      display: none;
    }

    @media (max-width: 519px) {
      padding: 0px 10px;
      grid-template-columns: 60px 1fr auto;
      height: $hhsmall;

      &__logo {
        height: $hhsmall;
      }

      &__menu {
        display: none;
      }

      &__copy {
        display: none;
      }

      &__button {
        display: block;
        grid-column: 3/4;

        .button-image {
          &__open {
            display: none;

            &_active {
              display: block;
            }
          }

          &__close {
            display: none;

            &_active {
              display: block;
            }
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    @media (min-width: 520px) AND (max-width: 1023px) {

      @media (max-height: 519px) {
        padding: 0px 10px;
      }

      padding: 0px 20px;
      grid-template-columns: 60px 1fr auto;
      height: $hhsmall;

      &__logo {
        height: $hhsmall;
      }

      &__menu {
        display: none;
      }

      &__copy {
        display: none;
      }

      &__button {
        display: block;
        grid-column: 3/4;

        .button-image {
          &__open {
            display: none;

            &_active {
              display: block;
            }
          }

          &__close {
            display: none;

            &_active {
              display: block;
            }
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    @media (min-width: 1024px) AND (max-width: 1380px) {
      padding: 0px 120px;

      &__copy {
        @include robertoFont(14px, 500, 140%);
      }
    }
  }

  .stub {
    height: $hhbig;

    @media(max-width: 1023px) {
      height: $hhsmall;
    }
  }

  .mobile-menu {
    background-color: $whi;
    transition: all 0.5s ease-in;
    padding: 20px 5px;
    position: fixed;
    top: $hhbig;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 11;

    overflow-y: scroll;

    @include robertoFont(18px, 500, 2);
    text-align: center;

    .mobile-list {
      &__item {}

      &__link {
        display: block;
      }
    }

    @media (max-width: 519px) {
      top: $hhsmall;

      &_open {
        left: 0;
      }

      .mobile-list {
        &__item {}

        &__link {
          &:active {
            background-color: #00000021;
          }
        }
      }
    }

    @media (min-width: 520px) AND (max-width: 1023px) {
      top: $hhsmall;
      height: calc(100vh - 50px);

      &_open {
        left: 0;
      }

      .mobile-list {
        &__item {}

        &__link {
          &:active {
            background-color: #00000021;
          }
        }
      }
    }

    @media (min-width: 1024px) AND (max-width: 1380px) {}


  }

  .slider {
    position: relative;

    &__title {
      position: absolute;
      top: 9vw;
      right: 10%;
      text-align: center;

      &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: -74px;
        left: -88px;
        height: calc(300px + 10vw);
        width: calc(300px + 10vw);
        border-radius: 50%;
        @include linear;
      }
    }

    &__title-line {
      @include robertoFont(calc(70px + 2vw), 700, 75%);

      &_yellow {
        color: $ye;
      }
    }

    &__button {
      @include buttonStyle;
    }

    &__bottom-button {
      display: none;
    }

    &__image {
      z-index: -5;
      position: relative;
      top: 0;
      width: 100%;
    }

    @media (max-width: 519px) {
      &__title {
        top: calc(10vw);

        &::before {
          top: -5vw;
          left: -5vw;
          height: calc(20px + 25vw);
          width: calc(20px + 25vw);
        }
      }

      &__title-line {
        @include robertoFont(calc(15px + 4vw), 700, 75%);
      }

      &__button {
        display: none;
      }

      &__bottom-button {
        display: block;
        color: $whi;
        margin: 10px 10px;
        width: calc(100% - 20px);
        height: 40px;
        @include linear;
        @include button;
        border-radius: 25px;
      }
    }

    @media (min-width: 520px) AND (max-width: 1023px) {
      &__title {
        top: calc(10px + 10vw);

        &::before {
          top: -5vw;
          left: -5vw;
          height: calc(20px + 25vw);
          width: calc(20px + 25vw);
        }
      }

      &__title-line {
        @include robertoFont(calc(15px + 4vw), 700, 75%);
      }

      &__button {
        position: absolute;
        bottom: -8vw;
        left: -50vw;
        margin: 0;
        width: 198px;
        height: 54px;
      }
    }

    @media (min-width: 1024px) AND (max-width: 1380px) {
      &__title {
        top: 13vw;

        &::before {
          height: calc(130px + 15vw);
          width: calc(130px + 15vw);
        }
      }

      &__title-line {
        @include robertoFont(calc(40px + 1.4vw), 700, 75%);
      }

      &__button {
        margin-top: 6vw;
        width: 198px;
        height: 54px;
      }
    }
  }

  .content {
    position: relative;
    padding: 140px 220px 100px 220px;

    .image-right-top {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 8;
      width: 9vw;
    }

    .image-left-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 8;
      width: 12vw;
    }

    .image-right-bottom {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 8;
      width: 21vw;
    }


    .main-card {
      color: $gr;
      display: grid;
      grid-template-columns: 35vw 1fr;
      gap: 3vw;

      &__content {}

      &__image {
        width: 100%;
        position: relative;
      }

      &__img {
        width: 100%;
      }

      &__body {}

      &__title {
        @include robertoFont(38px, 400, 57.6px);
        margin-bottom: 20px;
      }

      &__short-info {
        @include robertoFont(16px, 400, 20.8px);
        margin-bottom: 50px;
      }

      &__how {
        @include robertoFont(24px, 400, 28.8px);
        margin-bottom: 40px;
      }

      &__full-info {
        @include robertoFont(16px, 400, 22.4px);
      }
    }

    @media (max-width: 519px) {
      padding: 10px 10px 20px 10px;

      .image-right-top {
        width: 11vw;
      }

      .main-card {
        grid-template-columns: 1fr;
        gap: 3vw;

        &__content {}

        &__image {
          width: calc(90%);
          position: relative;
        }

        &__img {
          width: 100%;
        }

        &__body {}

        &__title {
          @include robertoFont(32px, 400, 57.6px);
          margin-bottom: 10px;
        }

        &__short-info {
          @include robertoFont(15px, 400, 20.8px);
          margin-bottom: 20px;
        }

        &__how {
          @include robertoFont(20px, 400, 28.8px);
          margin-bottom: 15px;
        }

        &__full-info {
          @include robertoFont(15px, 400, 22.4px);
        }
      }
    }

    @media (min-width: 520px) AND (max-width: 1023px) {
      padding: 70px 12vw 50px 12vw;

      .image-right-top {
        width: 11vw;
      }

      .main-card {
        grid-template-columns: 1fr;
        gap: 3vw;

        &__content {}

        &__image {
          width: calc(250px + 20%);
          position: relative;
        }

        &__img {
          width: 100%;
        }

        &__body {}

        &__title {
          @include robertoFont(32px, 400, 57.6px);
          margin-bottom: 10px;
        }

        &__short-info {
          @include robertoFont(15px, 400, 20.8px);
          margin-bottom: 20px;
        }

        &__how {
          @include robertoFont(20px, 400, 28.8px);
          margin-bottom: 15px;
        }

        &__full-info {
          @include robertoFont(15px, 400, 22.4px);
        }
      }
    }

    @media (min-width: 1024px) AND (max-width: 1380px) {
      padding: 70px 120px 50px 120px;

      .main-card {
        grid-template-columns: 35vw 1fr;
        gap: 3vw;

        &__content {}

        &__image {
          width: 100%;
          position: relative;
        }

        &__img {
          width: 100%;
        }

        &__body {}

        &__title {
          @include robertoFont(32px, 400, 57.6px);
          margin-bottom: 10px;
        }

        &__short-info {
          @include robertoFont(15px, 400, 20.8px);
          margin-bottom: 20px;
        }

        &__how {
          @include robertoFont(20px, 400, 28.8px);
          margin-bottom: 15px;
        }

        &__full-info {
          @include robertoFont(15px, 400, 22.4px);
        }
      }
    }

    .grid-cards {
      display: grid;
      color: $bl;
      padding-top: 6vw;

      &__body {
        position: relative;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
      }

      &__item {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 43px;
        border: 1px solid $dye;
        border-radius: 5px;

        &:hover {
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background-color: #0000004b;
          }
        }
      }

      &__image {
        grid-column: 1 / 3;
      }

      &__img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &__title {
        grid-column: 1 / 2;
        margin-top: 10px;
        margin-left: 15px;
      }

      &__text {
        grid-column: 1 / 2;
        margin-top: 5px;
        margin-bottom: 14px;
        margin-left: 15px;
      }

      &__icon {
        margin-top: 12px;
        margin-right: 10px;
        grid-column: 2 / 3;
        grid-row: 2 / 4;
      }

      &__icon-img {}

      &__left-button {
        position: absolute;
        top: calc(50% - 31px);
        left: -82px;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        @include linear;
        @include button;

        & img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__right-button {
        position: absolute;
        top: calc(50% - 31px);
        right: -82px;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        @include linear;
        @include button;

        & img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__choose-button {
        justify-self: center;
        margin-top: 80px;
        width: 288px;
        height: 54px;
        background-color: $mye;
        border-radius: 25px;
        color: $whi;
        @include robertoFont(16px, 500, 22.4px);
        @include button;
      }

      @media (max-width: 519px) {
        padding-top: 60px;

        &__body {
          row-gap: 30px;
          column-gap: 30px;
          grid-template-columns: 1fr;
        }

        &__item {
          &_hide {
            display: none;
          }
        }

        &__left-button {
          display: none;
        }

        &__right-button {
          display: none;
        }

        &__choose-button {
          margin-top: 30px;
        }
      }

      @media (min-width: 520px) AND (max-width: 1023px) {
        &__body {
          row-gap: 100px;
          column-gap: 30px;
          grid-template-columns: repeat(2, 1fr);
        }

        &__item {
          &_hide {
            display: none;
          }
        }

        &__left-button {
          left: 50%;
          transform: translateX(calc(-50% - 45px));
        }

        &__right-button {
          left: 50%;
          transform: translateX(calc(-50% + 45px));
        }
      }
    }
  }

  .pick-feed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 70px 220px 100px 220px;

    &__body {
      margin: 0 auto;
      padding: 50px;
      background: rgba(253, 253, 255, 0.52);
      backdrop-filter: blur(2px);

      display: grid;
      border-radius: 20px;
    }

    &__title {
      text-align: center;
      margin-bottom: 30px;
      color: $mye;
      @include robertoFont(48px, 400, 120%);
    }

    &__sub-title {
      margin-bottom: 40px;
      color: $gr;
      @include robertoFont(24px, 400, 120%);
    }

    &__note {
      margin-bottom: 10px;
      color: $gr;
      @include robertoFont(16px, 500, 130%);
    }

    &__text {
      margin-bottom: 60px;
      color: $gr;
      @include robertoFont(16px, 400, 130%);
    }

    &__button {
      @include linear;
      margin-bottom: 60px;
      justify-self: center;
      width: 298px;
      height: 54px;
      border-radius: 25px;

      color: $whi;
      @include robertoFont(16px, 500, 140%);
      @include button;
    }

    @media (max-width: 519px) {
      padding: 40px 10px 40px 10px;

      &__body {
        padding: 5vw 38px 5vw 38px;
      }

      &__button {
        position: relative;
        @include linear;
        margin-bottom: 60px;
        justify-self: center;
        width: 100%;
        height: 54px;
        border-radius: 25px;

        color: $whi;
        @include robertoFont(16px, 500, 140%);
        @include button;
      }
    }

    @media (min-width: 520px) AND (max-width: 1023px) {
      padding: 70px 12vw 100px 12vw;

      &__body {
        padding: 5vw;
      }
    }

    @media (min-width: 1024px) AND (max-width: 1380px) {
      padding: 70px 120px 100px 120px;
    }
  }

  .how-it {
    &__title {
      text-align: center;
      margin-bottom: 45px;
      color: $gr;
      @include robertoFont(36px, 400, 130%);
    }

    &__items {
      margin-bottom: 65px;
      display: grid;
      justify-content: center;
      grid-template-columns: 168px auto 168px auto 168px;
      gap: 1vw;
    }

    &__item {}

    &__image {
      height: 168px;
      background-color: $whi;
      border: 1px solid $mye;
      border-radius: 5px;
      display: grid;
      justify-content: center;
      align-items: center;
    }

    &__sub-title {
      margin-top: 30px;
      color: $gr;
      @include robertoFont(16px, 400, 140%);
    }

    &__img {}

    &__sub-item {
      position: relative;
      height: 168px;
      display: grid;
      justify-items: center;
      align-items: center;
    }

    &__sub-image {}

    &__sub-img {
      &_green {
        display: none;
      }
    }

    @media (max-width: 519px) {
      &__items {
        margin-bottom: 65px;
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto 1fr auto 1fr;
        gap: 1vw;
      }

      &__sub-title {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      &__sub-item {
        height: 0px;
      }

      &__sub-item {
        height: 0px;
      }

      &__sub-img {
        display: none;

        &_green {
          display: block;
          position: absolute;
          top: -35px;
          right: -62px;
          transform: rotate(83deg);
        }
      }
    }

    @media (min-width: 520px) AND (max-width: 1023px) {
      &__items {
        margin-bottom: 65px;
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto 1fr auto 1fr;
        gap: 1vw;
      }

      &__sub-title {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      &__sub-item {
        height: 0px;
      }

      &__sub-img {
        display: none;

        &_green {
          display: block;
          position: absolute;
          top: -35px;
          right: -62px;
          transform: rotate(83deg);
        }
      }
    }
  }

  .testimonials {
    position: relative;
    color: $lgr;
    padding: 20px 220px 20px 220px;

    .fern_bottom-left {
      position: absolute;
      bottom: 0px;
      right: 0;
    }

    &__title {
      margin-top: 5vw;
      color: $gr;
      text-align: center;
      text-shadow: 0px 1px 3px rgba(51, 59, 65, 1);
      @include robertoFont(36px, 400, 130%);
    }

    &__body {
      overflow-x: auto;
      padding: 20px 2px 20px 2px;
      margin: 0 auto;
      display: grid;
      gap: 2.5%;
      grid-auto-columns: 23%;
      grid-auto-flow: column;

      &::-webkit-scrollbar {
        width: 100px;
        height: 10px;
        background: #F5F7F6;
      }

      &::-webkit-scrollbar-thumb {
        background: #FE9013;
        /* цвет фона у дорожки */
        border-radius: 8px;
        /* скругление углов */
        border: 3px solid #f5cdcd;
        /* толщина, стиль и цвет рамки */
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #1461b9;
        /* ползунок меняет цвет при наведении */
      }
    }

    &__item {
      position: relative;
      padding: 13px;
      background: #F1F3F2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;


      display: grid;
      grid-template-columns: 37px 1fr;
      column-gap: 10px;

      &::before {
        border-radius: 20px;
        content: '';
        background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        top: -3px;
        left: -3px;
        position: absolute;
        z-index: -1;
      }
    }

    &__image {
      grid-row: 1 / 3;
      width: 100%;
      position: relative;
    }

    &__img {
      width: 100%;
    }

    &__sub-title {
      grid-column: 2 / 3;
      color: $bl;
      @include robertoFont(16px, 400, 120%);
      margin-bottom: 3px;
    }

    &__info {
      grid-column: 2 / 3;
      color: $llgr;
      @include robertoFont(15px, 300, 120%);
      margin-bottom: 10px;
    }

    &__text {
      grid-column: 1 / 3;
      color: $lgr;
      @include robertoFont(15px, 300, 120%);
      margin-bottom: 10px;
    }

    &__button {
      margin: 30px 0px 0px 0px;
      @include linear;
      justify-self: center;
      width: 298px;
      height: 54px;
      padding-top: 3px;

      color: $whi;
      @include robertoFont(16px, 500, 140%);
      @include button;
    }

    @media (max-width: 519px) {
      padding: 20px 10px 20px 10px;

      .fern_bottom-left {
        display: none;
      }

      &__body {
        gap: 5.5%;
        grid-auto-columns: calc(100% - 2px);
      }

      &__button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @media (min-width: 520px) AND (max-width: 1023px) {
      padding: 20px 12vw 20px 12vw;

      .fern_bottom-left {
        width: 11vw;
      }

      &__body {
        gap: 3.5%;
        grid-auto-columns: 48%;
      }
    }

    @media (min-width: 1024px) AND (max-width: 1380px) {

      padding: 20px 120px 20px 120px;

      .fern_bottom-left {
        width: 9vw;
      }

      &__body {
        gap: 2.5%;
        grid-auto-columns: 31.4%;
      }
    }

    @media (min-width: 1381px) AND (max-width: 1550px) {
      &__body {
        gap: 2.5%;
        grid-auto-columns: 31.5%;
      }
    }
  }

  .footer {
    position: relative;
    z-index: 1;
    background-color: $bl;
    padding: 0 220px;

    &__body {
      .footer-top {
        display: grid;
        grid-template-columns: auto 1fr;

        &__links {
          display: none;
        }

        &__item {}

        &__sub-item {
          display: grid;
          grid-template-columns: auto 1fr;
          margin-bottom: 10px;

          &:hover {
            .footer-top__link-image {
              background-color: rgba(75, 146, 0, 1);
            }

            .footer-top__link {
              color: rgba(75, 146, 0, 1);
            }
          }

          &:active {
            .footer-top__link-image {
              background-color: rgba(75, 146, 0, 1);
            }

            .footer-top__link {
              color: rgba(75, 146, 0, 1);
            }
          }
        }

        &__link {
          margin-left: 12px;
          align-self: center;
          color: $whi;
          @include robertoFont(16px, 400, 22.4px);
        }

        &__link-image {
          background-color: rgba(196, 196, 196, 0.5);
          width: 26px;
          height: 26px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__link-img {}

        &__logo {
          margin-top: 40px;
          margin-bottom: 66px;
        }

        &_logo-img {}

        &__subscribe {
          justify-self: end;
          align-self: flex-start;
          display: grid;
          grid-template-columns: auto auto;
        }

        &__title {
          margin-top: 40px;
          margin-bottom: 13px;
          grid-column: 1 / 3;
          color: $whi;
          @include robertoFont(24px, 400, 28.8px);
        }

        &__input {
          display: block;
          position: relative;
          color: $whi;
          padding: 10px 7px 10px 10px;
          @include robertoFont(16px, 400, 22.4px);
          border: 1px solid rgba(249, 128, 75, 1);
          background-color: $bl;
          border-radius: 2px;
        }

        &__button {
          margin-left: 10px;
          padding: 10px 39px;
          border: 1px solid $bl;
          border-radius: 5px;
          @include robertoFont(16px, 400, 22.4px);
          @include subButton;
          padding-top: 13px;
          color: $bl;
          background-color: rgba(241, 243, 242, 1);
        }

        &__button {
          display: none;
          @include linear;
          justify-self: start;
          width: 298px;
          height: 54px;
          margin-bottom: 40px;

          color: $whi;
          @include robertoFont(16px, 500, 140%);
          @include button;
        }
      }

      .footer-middle {
        &__button {
          @include linear;
          justify-self: center;
          width: 298px;
          height: 54px;
          margin-bottom: 40px;

          color: $whi;
          @include robertoFont(16px, 500, 140%);
          @include button;
        }
      }

      .footer-bottom {
        margin-bottom: 45px;
        display: grid;
        grid-template-columns: auto 1fr auto;

        &__links {}

        &__item {}

        &__sub-item {
          display: grid;
          grid-template-columns: auto 1fr;
          margin-bottom: 10px;

          &:hover {
            .footer-bottom__link-image {
              background-color: rgba(75, 146, 0, 1);
            }

            .footer-bottom__link {
              color: rgba(75, 146, 0, 1);
            }
          }

          &:active {
            .footer-bottom__link-image {
              background-color: rgba(75, 146, 0, 1);
            }

            .footer-bottom__link {
              color: rgba(75, 146, 0, 1);
            }
          }
        }

        &__link {
          margin-left: 12px;
          align-self: center;
          color: $whi;
          @include robertoFont(16px, 400, 22.4px);
        }

        &__link-image {
          background-color: rgba(196, 196, 196, 0.5);
          width: 26px;
          height: 26px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__link-img {}

        &__menu {
          justify-self: center;
          align-self: flex-end;
          margin-bottom: 10px;

          display: grid;
          gap: 58px;
          grid-template-columns: auto auto auto auto;
        }

        &__menu-item {
          @include robertoFont(16px, 400, 22.4px);
        }

        &__menu-link {
          color: $whi;


          font-weight: 400;
          font-size: 16px;
          line-height: 140%;

          &:hover {
            color: #4b9200;
          }
        }

        &__copy {
          color: $whi;
          display: block;
          justify-self: end;
          align-self: flex-end;
          margin-bottom: 10px;
          font-weight: 400;

          &:hover {
            color: rgba(75, 146, 0, 1);
            // text-decoration: underline;
            // background-color: $whi;
            font-weight: 400;
          }

          &:active {
            color: rgba(75, 146, 0, 1);
            text-decoration: underline;
            background-color: $whi;
          }
        }

        &__copy-item {
          @include robertoFont(16px, 300, 20.8px);
        }
      }
    }

    @media (max-width: 519px) {
      padding: 0 10px;

      &__body {
        .footer-top {
          padding-top: 10px;
          display: grid;
          grid-template-columns: 1fr;

          &__logo {
            justify-self: center;
            margin: 10px 0px 20px 0px;
          }

          &__subscribe {
            display: none;
          }

          &__links {
            display: block;

            display: grid;
            justify-content: center;
            grid-template-columns: auto auto auto auto;
            margin: 0px 0px 20px 0px;
          }

          &__item {
            margin: 0 2vw;
          }

          &__button {
            margin: 0 0 20px 0;
            display: block;
            justify-self: center;
          }
        }

        .footer-middle {
          display: none;
        }

        .footer-bottom {
          grid-template-columns: 1fr;

          &__links {
            display: none;
          }

          &__menu {
            gap: calc(6vw);
          }

          &__copy {
            justify-self: center;
            margin: 0 0 20px 0;
            grid-row: 1/2;
          }
        }
      }
    }

    @media (min-width: 520px) AND (max-width: 719px) {

      @media (max-height: 519px) {
        padding: 0 10px;
      }

      padding: 0 20px;

      &__body {
        .footer-top {
          padding-top: 10px;
          display: grid;
          grid-template-columns: 1fr auto;

          &__logo {
            margin-top: 0;
          }

          &__subscribe {
            display: none;
          }

          &__links {
            grid-row: 1/3;
            grid-column: 2/3;
            display: block;

            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
          }

          &__item {
            margin: 0;
          }

          &__button {
            margin: 0 0 30px 0;
            display: block;
          }
        }

        .footer-middle {
          display: none;
        }

        .footer-bottom {
          grid-template-columns: 1fr;

          &__links {
            display: none;
          }

          &__menu {
            gap: calc(6vw);
          }

          &__copy {
            justify-self: center;
            grid-row: 1/2;
          }
        }
      }
    }

    @media (min-width: 720px) AND (max-width: 1023px) {

      @media (max-height: 519px) {
        padding: 0 10px;
      }

      padding: 0 20px;

      &__body {
        .footer-top {
          padding-top: 10px;
          display: grid;
          grid-template-columns: 1fr auto;

          &__logo {
            margin-top: 0;
          }

          &__subscribe {
            display: none;
          }

          &__links {
            grid-row: 1/3;
            grid-column: 2/3;
            display: block;

            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
          }

          &__item {
            margin: 0;
          }

          &__button {
            margin: 0 0 30px 0;
            display: block;
          }
        }

        .footer-middle {
          display: none;
        }

        .footer-bottom {
          &__links {
            display: none;
          }

          &__menu {
            gap: calc(20vw - 120px);
          }
        }
      }
    }

    @media (min-width: 1024px) AND (max-width: 1380px) {
      padding: 0 120px;
    }
  }
}


@media (min-width: 1024px) AND (max-width: 1380px) {}